<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4">
    <a class="navbar-brand" href="#">Doctor TECHealth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link my-4 h6" routerLink="AtenderPaciente">Atender Paciente</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle my-4 h6" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Consultas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="InfoPaciente">Información de un paciente</a>
              <a class="dropdown-item" routerLink="CitaEstado">Citas por estado</a>
              <a class="dropdown-item" routerLink="CitaEspecialidad">Citas por especialidad</a>
            </div>
        </li>  
      </ul>
    </div>
  </nav>