<div class="jumbotron">
    <div class="container">
        <div class="col-md-9 col-sm-offset-2">
            <a href="#/login" class="btn btn-link || pull-right">Salir</a>
            <center><h2>Bienvenido</h2></center><br>
            <div class="col-md-6 col-md-offset-3">
                <h4>Explore sus Proyectos</h4>
                <form name="form" ng-submit="vm.loadStages()" role="form">
                    <div class="form-group" ng-class="{ 'has-error': form.proyecto.$dirty && form.proyecto.$error.required }">
                        <select title="Proyecto" name="Proyecto" id = "Proyecto" class="form-control" id="Proyecto" ng-model="vm.proyecto" required>
                            <option value="" disabled selected hidden>Por favor Escoja un Proyecto a Mostrar</option>
                            <option ng-repeat="proyecto in vm.AllProjects">{{proyecto.Nombre}}</option>
                        </select>
                        <span ng-show="form.proyecto.$dirty && form.proyecto.$error.required" class="help-block">Proyecto Requerido</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit"  class="btn btn-primary">Enviar</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>

                <br>

                <div class="form-group" ng-class="{ 'has-error': form.etapa.$dirty && form.etapa.$error.required }">
                    <h5>Etapas del Proyecto:</h5>
                    <ul>
                        <li ng-repeat="etapa in vm.AllStages">{{etapa.Nombre}}</li>
                    </ul>
                </div>

                <h4>Otras Funciones:</h4>
                <a href="#/materials" class="btn  btn-primary btn-link">Asigne Materiales</a><br><br>
                <a href="#/request" class="btn  btn-primary btn-link">Pedido</a><br><br>
            </div>
        </div>
    </div>
</div>