<div class="container">
  <div class="row">
    <form (ngSubmit)="getCitaEstado(Estado)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Estado</label>
            </div>
            <select class="custom-select" [(ngModel)]="Estado" [ngModelOptions]="{standalone: true}" id="Estado">
              <option selected>Registrada</option>
              <option>Cancelada por paciente</option>
              <option>Cancelada por centro médico</option>
              <option>Asignada</option>
              <option>Realizada</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-info btn-block">Consultar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
      <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <th>Especialidad</th>
            <th>fechaH</th>
            <th>Observacion</th>
            <th>Estado</th>
          </thead>
          <tbody>
            <tr *ngFor="let cita of citaService.citas">
              <td>{{ cita.especialidad }}</td>
              <td>{{ cita.fechaH }}</td>
              <td>{{ cita.observacion }}</td>
              <td>{{ cita.estado }}</td>
            </tr>
          </tbody>
        </table>



  </div>
</div>